* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 230px;
    height: calc(100vh - 90px);

    background-color: black;

    z-index: 10;
}

.aside-container {
    width: 100%;
    height: 100%;

    padding: 20px 20px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 600;
}

.aside-above {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 30px;
}

.aside-above .menu {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;
}

.menu-element {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    color: #808080;
}

.menu-element img {
    height: 22px;
    filter: invert(50%);
}

.aside-above .logo {
    height: 40px;
}

/* -------------------- */

.playlist figcaption {
    color: white;
    letter-spacing: -0.05em;
}

ul {
    list-style-type: none;
    color: #808080;
    margin-top: -5px;
}

li {
    margin-top: 20px;
}

/* -------------------- */

.ab-download img {
    height: 22px;
    filter: invert(50%);
}

.ab-profile img {
    height: 22px;
}

.aside-below {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
    color: #808080;
}

.ab-profile {
    color: white;
}

hr {
    width: 100%;
    border: 1px solid #808080;
}

/* -------------------- */

section {
    width: 100%;
    height: calc(100vh - 90px);

    background-color: #141922;
}

.upgrade {
    position: fixed;
    right: 0;
    left: 0;

    height: 90px;

    text-align: end;
    padding: 20px 20px;

    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade a {
    text-decoration: none;
    color: white;
}

.section-explore {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    padding-top: 110px;
    padding-bottom: 40px;
}

.section-explore a {
    font-size: 15px;
    font-weight: 600;

    color: #808080;
    text-decoration: none;
}

/* -------------------- */