* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 230px;
    height: calc(100vh - 90px);

    background-color: black;

    z-index: 10;
}

.aside-container {
    width: 100%;
    height: 100%;

    padding: 20px 20px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 600;
}

.aside-above {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 30px;
}

.aside-above .menu {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;
}

.menu-element {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    color: #808080;
}

.menu-element img {
    height: 22px;
    filter: invert(50%);
}

.aside-above .logo {
    height: 40px;
}

.aside-above .logo-small {
    height: 22px;
    display: none;
}

/* -------------------- */

.playlist figcaption {
    color: white;
    letter-spacing: -0.05em;
}

ul {
    list-style-type: none;
    color: #808080;
    margin-top: -5px;
}

.crea-pl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.crea-pl i {
    font-size: 25px;
}

li {
    margin-top: 20px;
}

/* -------------------- */

.ab-download {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.ab-profile {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.ab-download img {
    height: 22px;
    filter: invert(50%);
}

.ab-profile img {
    height: 22px;
}

.aside-below {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
    color: #808080;
}

.ab-profile {
    color: white;
}

hr {
    width: 100%;
    border: 1px solid #808080;
}

/* -------------------- */

section {
    width: 100%;
    height: calc(100vh - 90px);

    background-color: #141922;

    overflow-y: auto;
}

.upgrade {
    position: fixed;
    right: 0;
    left: 0;

    height: 90px;

    text-align: end;
    padding: 20px 20px;

    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade a {
    text-decoration: none;
    color: white;
}

.section-explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;
    padding-top: 110px;
    padding-bottom: 40px;
}

.section-explore a {
    font-size: 15px;
    font-weight: 600;

    color: #808080;
    text-decoration: none;
}

/* -------------------- */

.row-title {
    padding-left: 20px;

    color: white;
}

.row-sub {
    padding-left: 20px;
    margin-top: 15px;

    color: #808080;
}

.section-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 15px;

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.row-element {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* max-width: calc(100% / 6 - 20px); */
    max-width: 180px;
    
    gap: 15px;
}

.element-img {
    max-width: 100%;
}

.element-title {
    color: white;
}

.element-sub {
    color: #808080;
}

.artist{
    border-radius: 50%;
}

/* -------------------- */

footer {
    height: 90px;
    width: 100%;

    padding: 15px 10px 0px;

    background-color: #282828;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-track {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 40px;
}

.track-album {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 10px;
}

.track-album img {
    width: 45px;
    object-fit: cover;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 1px;
}

.album-info .info-song {
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.album-info .info-artist {
    color:#808080;
    font-size: 9px;
    font-weight: 600;
}

.track-save {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 12px;
}

.track-save i{
    color:#808080;
    font-size: 15px;
    font-weight: 600;
}

/* -------------------- */

.footer-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.player-buttons button {
    border: none;
    background-color: #282828;
    color: white;

    font-size: 15px;
}

.player-buttons button:nth-child(3) {
    font-size: 30px;
}

/* -------------------- */

.player-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 30vw;
}

.player-time .time {
    color: white;
    font-size: 10px;
    font-weight: 600;

    padding-left: 1em;
    padding-right: 1em;
}

.player-time .time-line{
    border: 2px #808080 solid;
    max-width: 430px;
    width: 100%;

    border-radius: 20px;
}

/* -------------------- */

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;

    max-width: 215px;
    width: 100%;
}

.footer-items button {
    border: none;
    background-color: #282828;
    color: white;

    font-size: 12px;
}

.footer-items .volume-line{
    border: 2px #808080 solid;
    max-width: 120px;
    width: 100%;

    border-radius: 20px;
}

/* -------------------- */

@media screen and (max-width: 1024px) {
    .section-row {
        flex-wrap: wrap;
    }
    .row-element {
        max-width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width: 768px) {
    .section-row {
        flex-wrap: wrap;
    }
    .row-element {
        max-width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 768px) {
    .section-row {
        flex-wrap: wrap;
    }
    .row-element {
        max-width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 425px) {
    .playlist {
        display: none;
    }

    aside {
        width: 50px;
    }

    .aside-above .logo {
        display: none;
    }

    .aside-above .logo-small {
        display: flex;
    }

    .aside-above {
        width: 100%;
        align-items: center;
    }

    .menu {
        align-items: center;
        margin-left: -12px;
    }

    .aside-below {
        width: 100%;
        align-items: center;
    }

    .aside-container p {
        display: none;
    }

    hr {
        display: none;
    }
}